<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<body>
{{> header}}

<h3> FAQs</h3>
<p> What is up? -- don't know myself</p>

{{> footer}}
</body>
</html>