<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{welcomeMessage}}</title>
</head>
<body>
{{> header}}
<h3> {{screamIt welcomeMessage}}</h3>
<a href="https://github.com/thePhan7om/">My Github page</a>
{{> footer}}
</body>
</html>